*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.loginwrapper{
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.css-iljtu2-MuiRating-root{
  margin-left: 8vw;
}

.loginform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 60vw;
  background-color: #f2f2f2;
}
.loginaside{
  background-image: url('./assets/Untitled-1.png');
  background-size: cover;
  width:40vw;
  height:100vh;
  background-color:  #f2f2f2;
  background-blend-mode: multiply;
}

.loginform > input[type="email"]{
  width: 70%;
  padding: 1.5vw 1vw;
  border-radius: 10px;
  margin: 8.3vh 4vw 5px 8.3vh;
  font-size: 1rem;
  background-color: transparent;
  font-weight: bold;
}

.loginform > input[type="password"]{
  width: 70%;
  padding: 1.5vw 1vw;
  margin: 7vh 3vw 5px 7vh;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent !important;
}

.loginform > input[type="text"]{
  width: 70%;
  padding: 1.5vw 1vw;
  margin: 7vh 3vw 5px 7vh;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent !important;
}




#regname{
  width: 70%;
  padding: 1.5vw 1vw;
  border-radius: 10px;
  margin: 8.3vh 4vw 3px 8.3vh;
  font-size: 1rem;
  background-color: transparent;
  font-weight: bold;
}

#regmail{
  width: 70%;
  padding: 1.5vw 1vw;
  margin: 3vh 3vw 3px 7vh;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent !important;
}

#regpass{
  width: 70%;
  padding: 1.5vw 1vw;
  margin: 3vh 3vw 5px 7vh;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent !important;
}

.loginpanel{
  display:flex;
  justify-content: space-between;
  width:70%;
}

.loginform >input[type='submit']{
  width: 50%;
  padding: 3.1vh 0.5vw;
  margin: 7vh 4vw 5px 7vh;
  border-radius: 15px;
  background-color: #6675df;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.logbutton {
  width: 50%;
  padding: 3.1vh 0.5vw;
  margin: 7vh 4vw 5px 7vh;
  border-radius: 15px;
  background-color: #6675df;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.regbutton{
  width: 50%;
  padding: 3.1vh 0.5vw;
  margin: 7vh 4vw 5px 7vh;
  border-radius: 15px;
  background-color: #6675df;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.logo{
  width: 30vw;
  height: 15vh;
}

@media screen and (max-width: 600px){
    .loginaside{
      width: 0px;
    }
    .loginform{
      width: 100vw;
      background-color: white;
    }
    .loginform > input[type="password"]{
      padding: 3vw 1vw;
      background-color: white;
      margin: 2vh 4vw 15px 7vh;
    }
    .loginform > input[type="email"]{
      padding: 3vw 1vw;
      background-color: white;
      margin: 7vh 4.7vw 5px 7vh;
    }
    .logo{
      width: 70vw;
      height: 20vh;
    }
}

.row{
  max-width: 1200px;
  margin: 0 auto;
  width: 94vw;
}

.header_content{
  position: relative;
  padding: 0 20px;
}

.homewrapper{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif !important;
}

.homehead{
  width: 100vw;
  height: 100%;
  background-color: black;
  font-family: 'Poppins', sans-serif !important;
}

.homehead-row{
  display: flex;
  justify-content: space-around;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.topcards{
  display: flex;
  width: 100vw;
  background-color: black;
  justify-content: space-around;
  animation: fadeIn 3s;
}


.menuitems{
  text-decoration: none;
  color: rgb(206, 206, 206);
  margin: 2vw;
  font-weight: bolder;
}

.menu{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}



.menuitems > h3:hover{
  color: rgb(255, 255, 255); 
}

.css-6hp17o-MuiList-root-MuiMenu-list{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.showposts{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 2vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

.searchIcon:hover{
  scale: 1.2;
  border: 2px white solid ;
  transition: all 0.5s ease-in;
 
}

.homefooter{
  width: 99vw;
  height: 60%;
  background-color: #151515;
}

.tags{
  display: flex;
  flex-direction: column;
  margin-top:30px;
}

.footercol{
  display:flex;
  flex-direction: row;
  margin-left: 30px;
}

.aboutus{
  margin-top:30px;
}

.showpostpage{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 2vh;
  margin-top: 70px;
  margin-bottom: 30px;
}

.showpost{
  margin-top: 70px;
  margin-bottom: 30px;
}
.homeheadpost{
  width: 100vw;
  background-color: black;
}

.homeheadpost1{
  width: 100vw;
  background-color: black;
}


#Author, #des,#title{
  width: 70%;
  padding: 1.5vw 1vw;
  border-radius: 10px;
  font-size: 1rem;
  background-color: transparent;
  font-weight: bold;
}

.edit{
  resize: both;
  overflow: auto;

}

#SubmissionBlog{
  width: 23%;
  padding: 2.1vh 0.2vw 2.1vh 0.2vw;
  margin: 7vh 4vw 5px 7vh;
  border-radius: 15px;
  background-color: #a2e694;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.postview{
  margin: 3vh;
  line-height: 1.5rem;
}

#plan{
  width: 70%;
  padding: 1.5vw 1vw;
  margin: 1.5vh 0;
  border-radius: 10px;
  font-size: 1rem;
  background-color: transparent;
  font-weight: bold;
}

#email{
  width: 70%;
  padding: 1.5vw 1vw;
  border-radius: 10px;
  font-size: 1rem;
  background-color: transparent;
  font-weight: bold;
}

.css-wjh20t-MuiPagination-ul{
  justify-content: center;
  height: 20vh;
}

.css-5nwj3y{
  padding-bottom: 5.3vh;
  scale: 1.3;
}

.css-5nwj3y:hover{
  scale:1.3;
  transition: all 0.3s ease-in;
}

.header-search{
  display: flex;
}

.profile {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border:2px solid black;
  margin-bottom:5vh;
  margin-top:5vh;
  scale:0.8;

}

.profilepost {
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border:2px solid black;
  margin-bottom:1vh;
  margin-top:vh;
  scale:0.8;
  margin-right: 50vw;
}

.post-details-row{
  margin-top: 1.9vh;
  width: 100vw;
  display: flex;
}

.like{
  margin-left: 10vw; 
}

.post-details-label{
  margin-top:1.5vh;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
}

.profile-description {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
}

.profile-details {
  font-size: 18px;
  margin-bottom: 20px;
}

.profile-details-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.profile-details-label {
  font-weight: bold;
  width: 120px;
}

.profile-details-value {
  margin-left: 10px;
}